.mainBanner {
  display: none;
}
.divider {
  display: none;
}

.uyghurNow {
  display: none;
}

.quotationBlock {
  display: none;
}

.countriesStandOut {
  display: none;
}

.uyghur_lost_people {
  display: none;
}
.targetUyghurWhy {
  display: none;
}

.uyghurTimeline {
  display: none;
}
.uyghurIndependence {
  display: none;
}

.uyghurPolitics {
  display: none;
}

.helpUyghurBanner {
  display: none;
}

.helpUyghurDiv {
  display: none;
}
.helpUyghurByReading {
  display: none;
}

.booksRecommendations {
  display: none;
}

.helpUyghurBySharing {
  display: none;
}

.helpUyghurByDonating {
  display: none;
}
.uyghurPrisoner {
  display: none;
}
.uyghurFace_crime_content {
  display: none;
}
.flowersForUyghur {
  display: none;
}

.someThoughts {
  display: none;
}
.genocides {
  display: none;
}
