* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontCompleteWhite: white;
  --fontWhite: rgb(255, 255, 255, 0.6);
  --fontRed: rgb(255, 51, 51);
}

body {
  background-color: black;
  color: rgb(255, 255, 255, 0.6);
}

/* ***** */
/* 文字設定 */
body {
  font-family: sans-serif;
}

.quotation {
  font-family: serif;
}

/* 聯結的文字顏色設定 */
a {
  color: var(--fontWhite);
}

a:visited {
  color: var(--fontWhite);
}

.videoText a {
  color: black;
}

.videoText a:visited {
  color: black;
}

a {
  text-decoration: underline;
}
.sourceLink {
  white-space: nowrap;
}

.textLink {
  /* color: rgba(137, 137, 137, 1); */
  white-space: nowrap;
}
/* .textLink:visited {
  color: rgba(137, 137, 137, 1);
} */

/* font-size 設定 */
h2 {
  font-size: 3rem;
  color: white;
}

h3 {
  font-size: 2rem;
  color: white;
}
h4 {
  font-size: 1.4rem;
}
p {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  text-align: justify;
}

/* 強調字體 設定 */

em {
  font-style: normal;
}
.textEmphasized {
  color: white;
}
.textBold {
  font-weight: bolder;
}

/* *** */
/* 游標設計 */

.grow {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: solid 5px red;
  background-color: white;
  mix-blend-mode: difference;
}

/* 新聞連結模組 */
.newsContainer {
  background-color: white;
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem 1.5rem 1rem 1rem;
  color: black;
  margin: 1.5rem 0rem;
}
.newsIcon {
  padding: 0.5rem;
  max-width: 100px;
  max-height: 100px;
  border: black 0.2rem solid;
}

.newsContent a {
  color: black;
}
.newsContent p {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}
.newsIcon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.newsIcon:hover {
  box-shadow: 2px 2px 5px black;
}

/* *** */
/* 時間表設計 */

.timeline {
  position: relative;
  /* width: 100%; */
  max-width: 1200px;
  margin: auto;
}

.timeline-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
}

.text-box {
  color: black;
  padding: 20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
}
.right-container .text-box {
  border-right: 0.5rem solid red;
}

.left-container .text-box {
  border-left: 0.5rem solid gray;
}

.text-box h3 {
  color: black;
  font-size: 1.5rem;
}
.text-box p {
  color: black;
  font-size: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.left-container {
  left: 0;
}
.right-container {
  left: 50%;
}
.timeline_icon {
  background-color: white;
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}
.right-container .timeline_icon {
  left: -20px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fff;
  right: -15px;
}
.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  left: -15px;
}
.event911 {
  background: linear-gradient(to left top, rgb(255, 0, 0) 1%, white 70%);
}
@media screen and (max-width: 767px) {
  .timeline {
    margin: 30px auto;
  }
  .timeline::after {
    left: 31px;
  }

  .timeline-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .text-box {
    font-size: 13px;
  }
  .right-container {
    left: 0;
  }

  .left-container .text-box {
    border-left: none;
    border-right: 0.5rem solid gray;
  }

  .timeline_icon,
  .right-container .timeline_icon {
    left: 10px;
  }

  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid #fff;
    border-left: 0;
    left: -15px;
  }
}

/* ***** */
/* topic content design */
.topicContainer {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  align-content: flex-start;
  gap: 1.5rem;
}
.topWebSources {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*  */
/* video設計 */
.videosContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  /* height: 100vh; */
  gap: 1rem;
}

.videoContent {
  background-color: rgb(128, 128, 128, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  z-index: 2;
}
/* videoContainer set up */
.videoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(1);
}

.videoContainer:hover {
  filter: grayscale(0.7);
}
.player {
  aspect-ratio: 16/9;
  width: 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}

.videoText {
  font-size: 1.2rem;
  width: 100%;
  text-align: justify;
  color: black;
  background-color: rgb(206, 202, 202, 0.8);
  padding: 1rem;
  box-shadow: 0px 2px 2px black;
}

ul {
  margin-left: 1rem;
}
.uyghur_lost_peopleText {
  padding-right: 1rem;
  text-align: right;
}

.someThoughts {
  display: none;
}

.uyghurFace_crime_content a {
  color: white;
}
