/* mobile, min-width:650px */
/* .scrollHorizontal {
  border: solid 5px red;
} */

/* 游標設計 */
.cursor {
  position: fixed;
  width: 8rem;
  height: 8rem;
  /* margin-left: -1.5rem;
  margin-top: -1.5rem; */
  pointer-events: none;
  z-index: 1000;
}

::-webkit-scrollbar {
  display: none;
}

.mainBanner {
  width: 100%;
  height: 100vh;
  min-height: 650px;
  position: relative;
  overflow: hidden;
  z-index: -1;
}
.mainFace {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -0%);
}
.chinaFlag {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0.7;
  transform: translate(-50%, -50%) scale(0.8);
}

.mainTitle {
  opacity: 0;
  position: absolute;
  writing-mode: vertical-lr;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  /* border: solid 5px red; */
}

.mainTitle h1 {
  color: rgb(255, 51, 51);
  font-size: 4rem;
  white-space: nowrap;
}
.mainTitle h2 {
  font-size: 2.5rem;
  margin-left: -1rem;
  margin-top: 0.2rem;
}
.mainTitle h3 {
  font-size: 2rem;
  display: none;
}
/*  */

/* ！！！ */
/* 間格線設計  */
.divider {
  width: 95%;
  height: 0.2rem;
  margin: 2rem auto;
  background-color: white;
}

.divider_blank {
  width: 95%;
  height: 0.2rem;
  margin: 2rem auto;
}

.uyghurNow {
  width: 90%;
  margin: 2rem auto;
  /* 解決奇怪的國旗不消失狀態 */
  background-color: black;
}

.uyghurNow .topicContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-content: flex-start;
  gap: 1.5rem;
}
.uyghurNow .topicContent {
  order: -1;
}

/* quotation 設計 */
.quotationBlock {
  width: 90%;
  margin: 2rem auto;
  padding: 3rem 1rem 3rem 1rem;
}

.quotation {
  font-size: 1.2rem;
  text-align: justify;
  quotes: "\201c""\201d";
  position: relative;
  padding-left: 40px;
  &::before {
    content: open-quote;
    font-size: 4em;
    color: var(--fontRed);
    position: absolute;
    top: -30px;
    left: 0;
    font-family: Georgia, serif;
  }
  &::after {
    content: close-quote;
    font-size: 4em;
    color: red;
    position: absolute;
    bottom: -5rem;
    font-family: Georgia, serif;
  }
}

.quotationBlock.smallBlock {
  padding: 2rem 2rem rem 1rem;
  width: 80%;
}
.quotationBlock.smallBlock .quotation {
  font-size: 1rem;
}

.countriesStandOut {
  width: 90%;
  margin: auto;
  padding: 1rem;
}
.countriesStandOut h2 {
  text-align: left;
}

.countriesList {
  column-count: 1;
  column-gap: 1rem;
}

.countryContent {
  background-color: rgb(128, 128, 128, 0.7);
  padding: 2rem;
  display: inline-block;
  width: 100%;
  margin-top: 1rem;
}

.uyghur_lost_people {
  /* margin-top: 3rem; */
  /* border: solid 5px red; */
  position: relative;
  width: 100%;
  min-height: 650px;
  height: 100vh;
  overflow: hidden;
}

.lost_people_title {
  margin-top: 5rem;
  width: 90%;
  position: absolute;
  /* writing-mode: vertical-lr; */
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-size: 5rem;
  color: white;
}

.lost_people_notice {
  display: none;
}
/* 負片效果IMG*/
.people_invert {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}
/* 內文區 */
.targetUyghurWhy {
  padding-top: 3rem;
  margin: auto;
  width: 90%;
  color: white;
}

.targetUyghurWhy .topicContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-content: flex-start;
  gap: 1.5rem;
}
.targetUyghurWhy .topicContent {
  order: -1;
}

/* 時間表 */
.uyghurTimeline {
  margin: auto;
  width: 90%;
}

.uyghurTimeline_title {
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
}

/* *** */
/* 兩次獨立運動 */
.uyghurIndependence {
  width: 90%;
  margin: auto;
}
.uyghurIndependence_title {
  text-align: center;
  padding: 3rem 2rem 2rem;
}
.uyghurCountries {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-x: scroll;
  gap: 1rem;
  margin: auto;
}

.uyghurCountry {
  width: 100%;
}
.uyghurCountry p {
  padding: 0rem 0.5rem 2rem 0.5rem;
}
.uyghurCountry img {
  max-width: 500px;
  object-fit: cover;
  border: solid 0.2rem white;
  filter: grayscale(1) invert();
}

.uyghurCountry img:hover {
  filter: grayscale(0) invert(0);
}
/* *** */

.uyghurPolitics {
  width: 90%;
  margin: auto;
}

.uyghurPolitics_title {
  margin: 2rem auto;
  text-align: center;
  font-size: 3rem;
  /* padding: 2rem 0rem; */
}

.politicsFaces {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: scroll;
}

.politicsFace {
  max-width: 500px;
  width: 100%;
  position: relative;
}

.politicsFace_title {
  position: absolute;
  writing-mode: vertical-lr;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
  filter: drop-shadow(0px 0px 5px black);
}

.politicsFace img {
  max-width: 300px;
  object-fit: cover;
  overflow: hidden;
}

.helpUyghurBanner {
  border: solid 5px red;
  width: 100%;
  min-height: 650px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* 可蘭經背景圖 */
.koran_text_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.shadowFace {
  width: 600px;
  height: 600px;
  object-fit: contain;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  filter: drop-shadow(0px -10px 10px rgb(255, 255, 255, 0.3));
}

/* 如何幫助維吾爾人 */
.helpUyghurDiv {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.helpUyghur_title {
  color: white;
  width: 90%;
  font-size: 5rem;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-45%, -50%);
  opacity: 0;
  margin: auto;
}
.helpingNum {
  font-size: 10rem;
  margin-bottom: -3.5rem;
  text-align: left;
  color: white;
}

.booksRecommendations {
  /* border: solid 5px red; */
  margin: auto;
  width: 90%;
  display: flex;
  overflow-x: scroll;
}

.bookContent {
  /* border: solid 5px red; */
  /* width: 100%; */
}

.bookContent img {
  display: block;
  margin: auto;
  /* width: 100%; */
  object-fit: contain;
  filter: grayscale(1);
}

.bookContent img:hover {
  filter: grayscale(0.7);
}

.bookContent p {
  margin: 1rem 2rem;
}

.helpUyghurByReading,
.helpUyghurBySharing,
.helpUyghurByDonating {
  margin-top: 4rem;
}
.helpUyghurByReading {
}

.helpUyghurByDonating {
}

.uyghurPrisoner {
  width: 100%;
  min-height: 650px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.uyghurFace_new {
  position: absolute;
  bottom: 0%;
  right: 50%;
  transform: translate(50%, 0%);
}

.uyghurFace_new_2 {
  position: absolute;
  bottom: 0%;
  right: 50%;
  transform: translate(50%, 0%);
  opacity: 1;
}

.uyghurFace_crime_content {
  width: 100%;
}
.uyghurFace_crime_content p {
  margin: auto;
  padding: 1rem 2rem 3rem 2rem;
  width: 90%;
  color: white;
  text-align: justify;
}
.flowersForUyghur {
  width: 100%;
  height: 100vh;
  min-height: 650px;
  max-height: 1080px;
  background-image: url(../img/uyghur_gunman_bk.jpg);
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.gumanImg {
  display: none;
}
.gumanLetter01 {
  width: 100%;
  position: absolute;
  top: 5%;
}

.gumanLetter02 {
  width: 100%;
  position: absolute;
  bottom: 5%;
}

.someThoughts {
  padding-top: 3rem;
  margin: auto;
  width: 90%;
}

.unoBookContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.7);
  margin: auto;
  padding: 1rem 2rem;
}

.unoBookContainer img {
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
  filter: grayscale(1);
}
.bookTextContent {
  /* order: -1; */
}
.genocides {
  padding-top: 2rem;
  margin: auto;
  width: 90%;
}

.genocideContent h3 {
  margin-top: 1rem;
}
.genocideContent p {
  margin-top: 0.5rem;
}
.genocidesList {
  padding-top: 2rem;
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  gap: 2rem;
  width: 100%;
  overflow-x: scroll;
}

.genocide {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.genocide img {
  object-fit: cover;
  display: block;
  margin: auto;
  border: 0.2rem solid white;
  filter: grayscale(1);
}
